/* 클래스를 적용하면 중복적인 코드 제거에 용이 */
/* 클래스를 적용하면 태그 위치를 찾는 수고로움이 감소 */
.red-text {
	color: red;
}

.red-text.lighten {
	opacity: 0.4;
}

.blue-text {
	color: blue;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.text-xx-large {
	font-size: xx-large;
}

.section {
	margin: 40px 20px;
}

.width-30p {
	width: 30%;
}

.width-20p {
	width: 20%;
}

.width-50p {
	width: 50%;
}

.header-hello {
	display: inline-block;
	color: white;
	background-color: rgb(238, 100, 100);
	padding: 50px;
	font-size: 24pt;
	text-align: center;
}

.fixed {
	position: fixed;
	bottom: 50px;
	left: 50%;
	padding: 10px;
	border: 1px solid black;
}

.absolute {
	position: absolute;
}
